Flask
Flask-Login
Flask-SQLAlchemy
Flask-Migrate
Flask-WTF
Flask-Mail
Flask-Cors
Flask-Bcrypt
Flask-Limiter
Flask-Session

SQLAlchemy
PyMySQL

python-dotenv
Werkzeug
gunicorn

requests
Pillow

email-validator

WTForms

itsdangerous

cryptography